.container-1 {
      display: flex;
    
     grid-template-rows: 1fr 1fr 1fr;

     gap: 10%;

background-color: blue;

}


.container-2 {
    display: flex;
  
   grid-template-rows: 1fr 1fr 1fr;

   gap: 10%;

background-color: rgb(55, 255, 0);

}