#caixa{

background-color: blue;

width: 120px;
height: 120px;

position: relative;

left: 95px;
top: 80px;


}

#caixa2{

    background-color: #00fbff;
    width: 120px;
    height: 120px;

    
    }

#caixa3{

        background-color: #ff2200;
        width: 120px;
        height: 120px;
        position: absolute;
        
        
        }

#caixa4{

            background-color: rgb(157, 255, 0);
            width: 40px;
        height: 40px;
        position: relative;

        left: 10px;
        top: 10px;
            
        


            }

#caixa5{

                background-color: #ff0;
                width: 120px;
                height: 120px;
                position: fixed;

                left: 356px;
                 top: 8px;
                
                }

#caixa6{

                    background-color: rgb(162, 0, 255);
                    width: 400px;
                    height: 400px;
                    border-radius: 70%;
                    
                    }