<!-- trabalho1.component.html -->

<div class="destinos-container">
    <div class="destino">
        <img [src]="getImageUrl('https://github.com/AlanPrates/Front-End-T2/blob/FEB-P003/Aula03/img/salvador.jpeg?raw=true')" alt="Destino Salvador" />
      <div class="destino-info">
        <h2>Salvador</h2>
        <p>✓Áereo ida e volta</p>
        <p>✓03 diárias</p>
        <p>✓Café da Manhã</p>
        <h1>R$670,00</h1>
        <p>Taxas inclusas <br>Em até 10x sem juros</p>
        <button class="comprar-btn" onclick="iniciarAnimacao()">Comprar</button>
      </div>
    </div>
  
    <div class="destino">
        <img [src]="getImageUrl('https://github.com/AlanPrates/Front-End-T2/blob/FEB-P003/Aula03/img/praia-jericoacoara-brasil.jpg?raw=true')"  alt="Destino Fortaleza" />
      <div class="destino-info">
        <h2>Fortaleza</h2>
        <p>✓Áereo ida e volta</p>
        <p>✓06 diárias</p>
        <p>✓Café da Manhã</p>
        <h1>R$1513,00</h1>
        <p>Taxas inclusas <br>Em até 10x sem juros</p>
        <button class="comprar-btn" onclick="iniciarAnimacao()">Comprar</button>
      </div>
    </div>
  
    <div class="destino">
        <img [src]="getImageUrl('https://raw.githubusercontent.com/AlanPrates/Front-End-T2/FEB-P003/Aula03/img/campinas.webp')"  alt="Destino Campinas" />
      <div class="destino-info">
        <h2>Campinas</h2>
        <p>✓Áereo ida e volta</p>
        <p>✓04 diárias</p>
        <p>✓Café da Manhã</p>
        <h1>R$900,00</h1>
        <p>Taxas inclusas <br>Em até 10x sem juros</p>
        <button class="comprar-btn" onclick="iniciarAnimacao()">Comprar</button>
      </div>
    </div>
</div>
