/*Corpo da página*/
body
{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(31, 51, 2);
}

/*Cabeçalho-Titulo*/
header
{
  color: rgb(255, 255, 255);
  padding-top: 25px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}


/*Container com todas as DIVS*/
.container-destinos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

/*Fundo do roteiro*/
.roteiros-viagens
{
    border-radius: 15px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    width: 300px;
    font-weight: bolder;
}

/*Imagens*/
img
{
    width: 280px;
    height: 250px;
    margin: 10px;
    border-radius: 12px;
}



/*Estilização dos li*/
.roteiro-incluso > li
{
  list-style-type: '\1F86D';
  margin-right: 50px;
  list-style-position: inside;
  justify-content: center;
}

/*Telas menores que 1200px*/
@media(max-width: 1199px) {
  .container-destinos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
  }

  .roteiros-viagens {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
  }
}
