<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/dashboard" class="nav-link px-2 link-dark">Início</a></li>
      <li><a routerLink="/cadastro-aves" class="nav-link px-2 link-dark">Cadastro de Aves</a></li>
      <li><a routerLink="/listagem-aves" class="nav-link px-2 link-dark">Listar Aves</a></li>

    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn bg-info me-2" (click)="logOut()">Sair</button>
    </div>
  </header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Bem-vindo!</h1>
    <p class="fs-5 text-muted">{{ dataUser?.email }}</p>
    <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-6 col-12 text-center logo-container">
          <a href="">
            <img src="/assets/img/ave1.png" alt="Logo" class="img-fluid" style="max-width: 400px;">
          </a>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
