<!-- trabalho3.component.html -->
<div id="geral">
<h2>Informações Pessoais</h2>
<p>Nome: Alan</p>
<p>Sobre Nome: Prates</p>
<p>E-Mail: alan_invasion&#64;hotmail.com</p>
<p>Telefone: (73) 991636180</p>
<p>Endereço: Local: Brasil, BA, Ilhéus</p>
<p>
  LinkedIn:
  <a href="https://www.linkedin.com/in/alan-prates-dev/">linkedin.com/in/AlanPrates</a>
</p>
<p><a href="portifolio.html">Meu Portfólio</a></p>

<h2>Carta de Apresentação</h2>
<p>Experiências acadêmicas e profissionais...</p>
<p>Como posso contribuir com a empresa...</p>
<p>Despedida e assinatura...</p>

<h2>Carta de Apresentação - Desenvolvedor Web</h2>

<p>
  Olá, meu nome é Alan Prates e sou um desenvolvedor web apaixonado pelo o
  que faço. Estou constantemente atualizado em relação às novas tecnologias
  na área. Atualmente, trabalho com Desenvolvimento Web, criando sites e
  sistemas online.
</p>

<h2>Educação</h2>
<p>Faculdade (Em breve)</p>
<p>Análise e Desenvolvimento de Sistemas</p>
<p>
  Curso que aborda planejamento, auditoria, alinhamento estratégico,
  segurança e risco, qualidade, gerência de projetos e gestão de processos
  de negócio de sistemas de informação. Também inclui gestão de tecnologia
  da informação, infraestrutura de tecnologia da informação, inovação e
  novas tecnologias aplicadas a sistemas de informação.
</p>

<h2>Linguagens de Programação</h2>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>PHP</li>
  <li>MySQL</li>
  <li>WordPress</li>
  <li>Photoshop</li>
  <li>Illustrator</li>
</ul>

<!-- Adicione o restante do conteúdo conforme necessário -->

<h2>Despedida e Assinatura</h2>
<p>Atenciosamente,</p>
<p>Alan Prates dos Santos S2</p>

<footer>
  <p>&copy; 2023 Alan Prates - Desenvolvedor Web</p>
</footer>

</div>
