

div {
    display: flex;
    align-items: center;
  }
  
  input {
    margin-right: 10px;
    height: 30px;
  }
  
  button {
    cursor: pointer;
    height: 30px;
    padding: 0 10px;
    display: flex; 
    align-items: center; 
  }
  