<div id="geral">
  <div id="logo"></div>
  <div id="conteudo">
    <div id="navegacao-local-meio">
      <ul>
        <li><a href="#">Centros e Grupos de Pesquisa</a></li>
        <li><a href="#">Internacional</a></li>
        <li><a href="#">Laboratórios</a></li>
        <li><a href="#">Mapa da Uesc</a></li>
        <li><a href="#">Núcleos</a></li>
        <li><a href="#">Projetos</a></li>
        <li><a href="#">PROTOCOLO DIGITAL</a></li>
      </ul>
    </div>
    <div id="conteudo-index">
      <div id="conteudo-esquerda">
        <div class="boxIndex">
          <h2>Notícias</h2>
          <div class="barra-titulo-interno"></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
            nec, ultricies sed, dolor.
          </p>
        </div>
        <div class="boxIndex">
          <h2>Serviços</h2>
          <div class="barra-titulo-interno"></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
            nec, ultricies sed, dolor.
          </p>
        </div>
      </div>

      <div id="conteudo-direita">
        <div class="boxObject">
          <section class="slide"></section>
        </div>
        <div class="boxIndex">
          <h2>Destaque</h2>
          <div class="barra-titulo-interno">
            <p>
              <strong>Cinema na Comunidade<br /></strong>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
            nec, ultricies sed, dolor.
          </p>
        </div>
      </div>

      <div id="conteudo-direita">
        <div class="boxObject">
          <section class="slide"></section>
        </div>
        <div class="boxIndex">
          <h2>Resultados</h2>
          <div class="barra-titulo-interno">
            <p>
              <strong>Cinema na Comunidade<br /></strong>
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
            nec, ultricies sed, dolor.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="rodape" style="text-align: center">
    UNIVERSIDADE ESTADUAL DE SANTA CRUZ<br />
  </div>
</div>
