body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  

/* app.component.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .rounded-logo {
    border-radius: 50%;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  